$primary: hsl(240, 54%, 11%);
$secondary: hsl(261, 88%, 23%);
$accent: hsl(220, 80%, 56%);
$lightBg1: hsl(220, 27%, 98%);
$lightBg2: hsl(228, 100%, 99%);
$grey6: hsl(0, 0%, 95%);
$grey5: hsl(0, 0%, 88%);
$grey4: hsl(0, 0%, 74%);
$grey3: hsl(0, 0%, 51%);
